article {
    padding: 32px 16px 24px;
    gap: 24px;

    .summary-wrapper {
        gap: 2px;
    }

    .mystery-box {
        padding: 16px 16px 40px;
        border-radius: 8px;

        .mystery {
            width: 185px;
        }
    }

    .line-h-133 {
        line-height: 133%;
    }


    .line-h-150 {
        line-height: 150%;
    }

    .payment-summary {
        gap: 14px;
    }

    .divider {
        margin-block: 21px;
    }
}

.gap-17 {
    gap: 17px;
}

.font-17 {
    font-size: 17px;
}

.flex-grow {
    flex: 1 0 0;
}