<article class="bg-secondary d-flex flex-col">
  <section class="summary-wrapper flex-col-center-all ion-align-items-start">
    <h1 class="line-h-133 font-xxl font-bold ion-no-margin">Subscribe</h1>
    <p class="line-h-150 font-lg  ion-no-margin">to our Monthly Surprise Box</p>
  </section>

  <section class="mystery-box bg-white flex-space-between full-width">
    <div class="d-flex flex-col mystery">
      <h2 class="ion-no-margin font-bold font-lg line-h-150">
        Mystery Box
      </h2>
      <p class="ion-no-margin font-sm line-h-133 grey-txt">X 1</p>
    </div>
    <div class="d-flex flex-col ion-align-items-end">
      <h2 class="ion-no-margin font-lg line-h-150">
        {{'SAR '}}<span class="font-bold">456</span>
      </h2>
      <p class="ion-no-margin font-sm line-h-133 grey-txt">Monthly</p>
    </div>
  </section>

  <section class="full-width">
    <div class="d-flex flex-col payment-summary">
      <div class="gap-17 flex-space-between">
        <p class="font-md black-txt flex-grow ion-no-margin">Subtotal</p>
        <p class="font-lg ion-no-margin">{{'SAR '}}<span class="font-bold">456</span>
      </div>
      <div class="gap-17 flex-space-between">
        <p class="font-md black-txt flex-grow ion-no-margin">Shipping</p>
        <p class="font-md grey-txt ion-no-margin">Free
      </div>
      <div class="gap-17 flex-space-between">
        <p class="font-md black-txt flex-grow ion-no-margin">Taxes</p>
        <p class="font-lg ion-no-margin">{{'SAR '}}<span class="font-bold">{{4 | number}}</span>
      </div>
    </div>
    <div class="divider">
      <app-divider bgClassName="bg-light-purple"></app-divider>
    </div>
    <div class="gap-17 flex-space-between">
      <p class="font-17 font-semi-bold black-txt flex-grow ion-no-margin">Total</p>
      <p class="font-xxl ion-no-margin">{{'SAR '}}<span class="font-bold">460</span>
    </div>
  </section>

  <ion-button expand="block" class="custom-btn font-xl ion-no-margin font-extra-bold" mode="ios">
    {{'continue to payment' | titlecase}}
  </ion-button>

</article>