.step {
    gap: 24px;

    .step-icon {
        width: 96px;
        height: 96px;
        object-fit: fill;
    }

    .sub-title {
        font-size: 32px;
    }

    .line-h-130 {
        line-height: 130%;
    }

    .desc {
        line-height: 150%;
    }
}