<div class="d-flex flex-col form-control">
  <label class="font-md label">{{label | titlecase}}</label>
  <div class="d-flex dates-wrapper">
    <ion-select *ngFor="let dateControl of dateControls" mode="md" fill="outline" class="custom-select"
      interface="popover" toggleIcon="chevron-down" [formControl]="dateControl.control"
      [placeholder]="dateControl.placeholder | titlecase">
      <ion-select-option [value]="val" *ngFor="let val of dummyVals">{{val}}</ion-select-option>
    </ion-select>
  </div>
</div>