.footer {
    padding: 48px 80px;
    height: 123px;

    .logo {
        width: 63px;
        height: 27px;
    }

    .nav-links {
        gap: 32px;

        .nav-link {
            color: var(--ion-color-dark);
            text-decoration: none;
            line-height: 150%;
        }
    }

    .copy-rights {
        color: #667085;
        line-height: 150%;
    }

}