article {
    padding-block: 32px 56px;

    .content-wrapper {
        margin-bottom: 80px;
        gap: 24px;

        .heading {
            text-shadow: 2px 2px 0px var(--ion-color-primary);
            line-height: 120%;
        }

        .desc {
            line-height: 150%;
        }


    }

    .placeholder-img {
        height: 200px;
        width: 100%;
        object-fit: fill;
    }
}

@media screen and (min-width: 1200px) {
    article {
        padding: 112px 64px;

        .content-wrapper {
            width: 804px;
        }

        .placeholder-img {
            width: 1220px;
            height: 738px;
        }
    }
}