article {
    padding-block: 32px 56px;

    .content-wrapper {
        margin-bottom: 80px;
        gap: 24px;

        .heading {
            text-shadow: 2px 2px 0px var(--ion-color-primary);
            line-height: 48px;
            text-wrap: balance;
        }

        .desc {
            line-height: 30px;
        }


    }

    .placeholder-img {
        height: 200px;
        object-fit: fill;
    }
}