.bg-primary {
    background-color: var(--ion-color-primary);
}

.bg-yellow {
    background-color: var(--ion-color-tertiary);
}

.bg-secondary {
    background-color: var(--ion-color-secondary);
}

.bg-pirple {
    background-color: var(--ion-color-pirple);
}

.white-txt {
    color: var(--ion-color-white);
}

.black-txt {
    color: var(--ion-color-black);
}