.capitalized {
    text-transform: capitalize;
}

.font-xxxl {
    font-size: 2rem;
}

.font-bold {
    font-weight: 900;
}

@font-face {
    font-family: 'Nunito';
    src: url('../assets/font/Nunito.woff2')format('woff2');
}

* {
    font-family: Nunito;
}