.form-title {
    line-height: 133%;
}

.form-title-desc {
    line-height: 150%;
}

.contact-info-title {
    line-height: 160%;
    margin-bottom: 8px;
}

.form-controls-wrapper {
    gap: 32px;

    .contact-info-wrapper {
        gap: 24px;
    }
}