<form [formGroup]="userInfoForm">
  <section>
    <h1 class="form-title font-xxl font-bold ion-no-margin">Subscribe</h1>
    <p class="form-title-desc font-lg  ion-no-margin">to our Monthly Surprise Box</p>
  </section>
  <div class="ion-margin-vertical">
    <app-divider bgClassName="bg-light-purple"></app-divider>
  </div>
  <article class="form-controls-wrapper d-flex flex-col ">

    <!--CONTACT INFO -->
    <section class="full-width">
      <h2 class="font-xl ion-no-margin font-bold contact-info-title">Contact Information</h2>
      <div class="contact-info-wrapper d-flex flex-col">
        <app-form-control label="your name" [control]="nameControl" type="text" controlName="name"
          placeholder="e.g Osama Alshathri"></app-form-control>
        <app-form-control label="email" [control]="emailControl" type="email" controlName="email"
          placeholder="Osama@gmail.com"></app-form-control>

      </div>
    </section>

    <!--CHILD INFO -->
    <section class="full-width">
      <h2 class="font-xl ion-no-margin font-bold contact-info-title">Child's Information</h2>
      <div class="contact-info-wrapper d-flex flex-col">
        <app-form-control label="child’s full name" type="text" [control]="childNameControl" controlName="childName"
          placeholder="e.g Sarah Mohammad"></app-form-control>
        <app-child-date-control [dateControl]="dateControl" [monthControl]="monthControl"
          [yearControl]="yearControl"></app-child-date-control>
        <app-form-control label="Grade" type="select" [control]="gradeControl" controlName="grade" [selectOpts]="grades"
          placeholder="e.g Grade 2"></app-form-control>
        <app-gender-control [control]="genderControl"></app-gender-control>
      </div>
    </section>
  </article>

</form>