article {
    padding: 48px 20px;
    gap: 48px;

    .footer-links-wrapper {
        gap: 16px;
        text-decoration: underline;
        margin-bottom: 32px;
    }

    .divider-wrapper {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1200px) {
    article {
        padding: 80px 64px;

        .footer-links-wrapper {
            flex-direction: row;
        }

        .footer {
            display: flex;
            justify-content: space-between;
        }
    }
}