/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.form-control {
    gap: 6px;

    .label {
        line-height: 143%;
        color: #344054;
    }
}

.custom-select {
    --border-radius: 8px;
    --padding-start: 14px;
    --padding-end: 14px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --border: 1px solid #D0D5DD;
    color: #667085;
    opacity: 0.5;
    min-height: unset;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    height: 44px;
    flex: 1;
    flex-basis: content;

    &::part(icon) {
        color: var(--ion-color-black);
    }

    &::part(container) {
        width: 100%;
        gap: 8px;
    }
}

.custom-select.has-value {
    opacity: 1;
}


.custom-btn {
    --color: var(--ion-color-primary);
    --background: var(--ion-color-white);
    line-height: 167%;
    min-height: unset;
    height: 48px;
    --background-focused: var(--ion-color-white);
    --background-activated: var(--ion-color-white);
    --background-hover: var(--ion-color-white);
    --color-focused: var(--ion-color-primary);
    --color-activated: var(--ion-color-primary);
    --color-hover: var(--ion-color-primary);
    --border-radius: 12px;

    &::part(native) {
        box-shadow: 4px 4px 0px -1px var(--ion-color-primary);
        border: 1px solid var(--ion-color-primary);
        padding: 10px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .custom-btn {
        height: 70.4px;
        --border-radius: 24px;

        &::part(native) {
            padding: 15.5px 26px;
        }
    }
}