<article class="d-flex flex-col">
  <div class="ion-hide-xl-up">
    <app-nav-links></app-nav-links>
  </div>
  <div class="ion-hide-xl-up">
    <app-subscription-form></app-subscription-form>
  </div>

  <section>
    <div class="divider-wrapper">
      <app-divider bgClassName="bg-black"></app-divider>
    </div>
    <div class="footer">
      <nav class="footer-links-wrapper d-flex flex-col">
        <a href="https://www.google.com" *ngFor="let link of footerLinks" class="footer-link black-txt font-md">{{link |
          titlecase}}</a>
      </nav>
      <p class="ion-no-margin ion-margin-bottom font-md">© 2023 Relume. All rights reserved.</p>
    </div>
  </section>
</article>