<section class="d-flex flex-col">
  <h3 class="font-semi-bold font-lg ion-no-margin">Subscribe</h3>
  <form (ngSubmit)="subscribe(form)" #form="ngForm">
    <ion-input type="email" placeholder="Enter your email" mode="md" fill="outline" required="true" name="email" email
      ngModel errorText="Invalid email" class="font-lg email-input ion-margin-bottom"></ion-input>
    <ion-button expand="block" type="submit" fill="outline" class="submit-btn ion-no-margin font-lg" mode="ios"
      [disabled]="form.invalid">
      Subscribe
    </ion-button>
  </form>
  <p class="ion-no-margin font-sm">By subscribing you agree to with our <a class="privacy-policy">Privacy
      Policy</a></p>
</section>