section {
    gap: 12px;

    .email-input {
        --color: #505050;
        --border-color: var(--ion-color-black);
        --border-radius: 0;
        --padding-start: 12px;
        --padding-end: 12px;
        min-height: 48px;

    }

    .email-input.has-focus {
        --border-color: var(--ion-color-primary);
    }

    .submit-btn {
        min-height: 48px;
        --border-radius: 0;
        --color: var(--ion-color-black);
        --background-focused: var(--ion-color-white);
        --background-activated: var(--ion-color-white);
        --background-hover: var(--ion-color-white);
        --color-focused: var(--ion-color-black);
        --color-activated: var(--ion-color-black);
        --color-hover: var(--ion-color-black);

        &::part(native) {
            border: 1px solid var(--ion-color-black);
            padding: 12px 24px;
        }
    }

}

.privacy-policy {
    text-decoration: underline;
    text-transform: capitalize;
    color: unset;
}