<article class="bg-yellow ion-padding-horizontal ion-text-center">
  <h3 class="font-lg ion-no-margin font-semi-bold">discover</h3>
  <div class="content-wrapper flex-col-center-all txt-balance ion-text-center">
    <h1 class="heading ion-no-margin font-xxxl font-bold">
      How It Works: Subscribe and Receive Your Surprise Box
    </h1>
    <h2 class="desc font-xxl ion-no-margin">
      Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box
      filled
      with educational materials tailored to your child's age and interests.
    </h2>
  </div>
  <div class="steps-wrapper flex-col-center-all">
    <app-step *ngFor="let step of steps" [step]="step"></app-step>
    <app-custom-btn [label]="buttonLabel" [width]="193"></app-custom-btn>
  </div>

</article>